@using ShoeMania.Core.ViewModels.Shoes
@model List<OrderShoeViewModel>


<h1 class="text-center text-dark" style="margin-bottom: 50px; margin-top: 50px">Shopping Cart</h1>

<div class="shopping-cart">

    @if (Model != null && Model.Count > 0)
    {
        decimal subtotal = Math.Round((decimal)Model.Select(d => d.Price).Sum()!, 2);
        decimal tax = Math.Round((decimal)(0.05m * subtotal), 2);

        <div class="column-labels">
            <label class="product-image" style="margin-left: 30px;">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity">Size</label>
            <label class="product-removal">Remove</label>
        </div>

        @foreach (var shoe in Model)
        {
            <partial name="_CartShoePartial" model="@shoe" />
        }

        <div class="totals" style="margin-right: 40px">
            <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal"> @subtotal lv.</div>
            </div>
            <div class="totals-item">
                <label>Tax (5%)</label>
                <div class="totals-value" id="cart-tax"> @tax lv.</div>
            </div>
            <div class="totals-item">
                <label>Shipping</label>
                <div class="totals-value" id="cart-shipping">5 lv. </div>
            </div>
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">@(subtotal + tax + 5) lv.</div>
            </div>
        </div>


        <a asp-action="Payment" asp-controller="Payment" class="checkout" style="margin-right: 40px;">Checkout</a>
        <a asp-controller="Shoes" asp-action="All" id="continue" class="btn btn-warning text-black cont" style="margin-left: 30px;">Continue Shopping</a>
    }
    else
    {
        <h2 class="text-center text-black"> Your cart is empty!</h2>
        <a asp-controller="Shoes" asp-action="All" id="continue" class="btn btn-warning text-black" style="margin-left: 30px;">Continue Shopping</a>
    }


</div>


@section Styles {
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
}
