<section class="why_us_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Why Choose Us
            </h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/img/w1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Wide Variety:
                        </h5>
                        <p>
                            From casual to formal, sporty to chic – discover shoes for every taste and occasion.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/img/w2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Top Brands:
                        </h5>
                        <p>
                            We bring you the best from global and emerging brands to ensure quality and style.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/img/w3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Affordable Prices:
                        </h5>
                        <p>
                            Fashionable footwear that fits your budget
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>